.bg-base
{
	background-color: #754ffe ;

}

.reduire
{
	font-size: medium;
	font-weight: bolder;
}

.signal
{
	color: #754ffe ;
}

.grise
{
	background-color: #f5f4f9;
}

.up
{
	padding-left: 10rem !important;
}


